body {background-color:black;font-family:arial;color:black}
h1{color:grey;font-family:verdana}

#main {
    background-color: white;
    text-align: center;
    position: absolute;
    width: 300px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 25px;
}

#input {
    width: fit-content;
    text-align: left;
    margin: auto;
}

#foot {
    text-align: left;
}
