body {
    background-color:black;
    display: flex;
    justify-content: center;
    margin-top: 15%;
}
h1{
    color:rgb(101, 110, 101);
}

#main {
    background-color: white;
    text-align: center;
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 25px;
}

#input {
    width: fit-content;
    text-align: left;
    margin: auto;
}

#foot {
    text-align: left;
}
